@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400&family=Syncopate:wght@700&display=swap');

html, body, p{
  margin: 0;
  padding: 0;
  height: 100%;
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  font-size: calc(0.7rem + 0.7vw);
  line-height: calc(1.1rem + 0.5vw);
  font-family: 'Exo 2', sans-serif;
  background-color: #F5F5F5;
}

header {
  flex: 0 0 auto;
  font-size: calc(0.8rem + 1vw);
  text-align: center;
  background-color: #DEDEDE;
}

header h1 {
  padding: 1rem;
  font-family: 'Syncopate', sans-serif;
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 3s linear infinite;
}

@keyframes shine {
  from { -webkit-mask-position: 150%; }
  to { -webkit-mask-position: -50%; }
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  outline: 3px solid #C7C7C7;
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 15vh;
  width: 70vw;
  margin: 5px;
  padding: 5px;
}

.intro p {
  margin: auto;
  padding: 10px;
  color: #4e4c45;
}

.typing-effect {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 3.5s steps(50, end);
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 80% }
}

#try-again {
	margin: 20px;
	padding: 20px;
	width: auto;
	height: auto;
	border-radius: 3px;   
  font-family: 'Exo 2', sans-serif;
  font-weight: 900;
  -webkit-box-shadow: inset 0px 1px 0px 0px #fffcf7, 0 1px 2px #d8d5cf ;
	background: -moz-linear-gradient(top, #7db9e8 0%, #ececea 0%, #e6e5e4 49%, #e2ded6 50%, #d8d8d8 90%, #cacaca 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(0%,#ececea), color-stop(49%,#e9e5dd), color-stop(50%,#e2ded6), color-stop(90%,#d8d8d8), color-stop(100%,#cacaca));
	background: -webkit-linear-gradient(top, #7db9e8 0%,#ececea 0%,#e9e5dd 49%,#e2ded6 50%,#d8d8d8 90%,#cacaca 100%);
	background: -o-linear-gradient(top, #7db9e8 0%,#ececea 0%,#e9e5dd 49%,#e2ded6 50%,#d8d8d8 90%,#cacaca 100%);
	background: -ms-linear-gradient(top, #7db9e8 0%,#ececea 0%,#e9e5dd 49%,#e2ded6 50%,#d8d8d8 90%,#cacaca 100%);
	background: linear-gradient(top, #7db9e8 0%,#ececea 0%,#e9e5dd 49%,#e2ded6 50%,#d8d8d8 90%,#cacaca 100%);
	border: #b8b5af 1px solid;
	border-bottom: #b0ada6 1px solid;
	color: #4e4c45;
	text-shadow: 0 1px 0 #f4f0e8;
  outline: none;
}

#try-again:hover {
	background: -moz-linear-gradient(top, #7db9e8 0%, #f5f1ea 0%, #ebe6dc 49%, #e2ded6 50%, #dad6ce 90%, #cac6bf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(0%,#f5f1ea), color-stop(49%,#ebe6dc), color-stop(50%,#e2ded6), color-stop(90%,#dad6ce), color-stop(100%,#cac6bf));
	background: -webkit-linear-gradient(top, #7db9e8 0%,#f5f1ea 0%,#ebe6dc 49%,#e2ded6 50%,#dad6ce 90%,#cac6bf 100%);
	background: -o-linear-gradient(top, #7db9e8 0%,#f5f1ea 0%,#ebe6dc 49%,#e2ded6 50%,#dad6ce 90%,#cac6bf 100%);
	background: -ms-linear-gradient(top, #7db9e8 0%,#f5f1ea 0%,#ebe6dc 49%,#e2ded6 50%,#dad6ce 90%,#cac6bf 100%);
	background: linear-gradient(top, #7db9e8 0%,#f5f1ea 0%,#ebe6dc 49%,#e2ded6 50%,#dad6ce 90%,#cac6bf 100%);
	border: #b8b5af 1px solid;
	border-bottom: #b0ada6 1px solid;
	-webkit-box-shadow: inset 0px 1px 0px 0px #fffcf7, 0 1px 1px #d8d5cf, 0 0 6px #d8d5cf;
	color: #726f66;
	text-shadow: 0 1px 0 #f4f0e8;
}

#try-again:active {
	-webkit-box-shadow: inset 0px 1px 3px 0px #cfcac0;
	background: #7db9e8;
	background: -moz-linear-gradient(top,  #7db9e8 0%, #F2EFEA 0%, #e2ded6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(0%,#F2EFEA), color-stop(100%,#e2ded6));
	background: -webkit-linear-gradient(top,  #7db9e8 0%,#F2EFEA 0%,#e2ded6 100%);
	background: -o-linear-gradient(top,  #7db9e8 0%,#F2EFEA 0%,#e2ded6 100%);
	background: -ms-linear-gradient(top,  #7db9e8 0%,#F2EFEA 0%,#e2ded6 100%);
	background: linear-gradient(top,  #7db9e8 0%,#F2EFEA 0%,#e2ded6 100%);
	border-color: #b2aba0;
}

.computer-side {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 15vh;
  width: 70vw;
  margin: 5px;
  padding: 10px;
}

.computer-side img {
  transform: scale(1) scaleX(-1);
  -webkit-filter: drop-shadow(1.5px 1.5px 0 green) 
                  drop-shadow(-1.5px -1.5px 0 whgreenite);

  filter: drop-shadow(1.5px 1.5px 0 green) 
          drop-shadow(-1.5px -1.5px 0 green);
  border: 0;
}

.player-side {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 15vh;
  width: 70vw;
  border: 5px #e4e4e4 inset;
  border-radius: 100px;
  margin: 5px;
  padding: 10px;
}

.images {
  -webkit-filter: drop-shadow(1px 1px 0 black) 
                  drop-shadow(-1px -1px 0 white);

  filter: drop-shadow(1px 1px 0 black) 
          drop-shadow(-1px -1px 0 white);
  border: 0;
  transition: all .3s linear;
}

.images:hover {
  transform: scale(1.2);
}

.active {
  transform: scale(1.2);
  -webkit-filter: drop-shadow(1.5px 1.5px 0 red) 
                  drop-shadow(-1.5px -1.5px 0 red);

  filter: drop-shadow(1.5px 1.5px 0 red) 
          drop-shadow(-1.5px -1.5px 0 red);
  border: 0;
  outline: none;

}

.hidden {
  display: none;
}

.opacity {
  opacity: 0.5;
  transform: scale(0.8);
}

.end-game {
  font-size: calc(1rem + 0.7vw);
  line-height: calc(1.7rem + 0.5vw);
  color: #726f66;
}

.score {
  font-size: calc(1rem + 0.7vw);
  line-height: calc(1.7rem + 0.5vw);
  display: flex;
  flex-direction: row;
 
  align-items: center;
  justify-content: space-around;
  height: 15vh;
  width: 70vw;
  color: #726f66;
  margin: 5px;
  padding: 10px;
}

#player-score {
  padding: 10px;
}

#computer-score {
  padding: 10px;
}

footer {
  flex: 0 0 auto;
  font-size: calc(0.6rem + 0.5vw);
  text-align: center;
  padding: 1rem;
  color: #4e4c45;
  background-color: #DEDEDE;
  border: 3px solid #C7C7C7;
}
