@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400&family=Syncopate:wght@700&display=swap');

html, body, p{
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: calc(0.7rem + 0.7vw);
  line-height: calc(1.1rem + 0.5vw);
  font-family: 'Exo 2', sans-serif;
}

header {
  flex: 0 0 auto;
  font-size: calc(0.8rem + 1vw);
  text-align: center;
  background-color: white;
  padding: 1rem;
  font-family: 'Syncopate', sans-serif;
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  outline: 1px solid #e4e4e4;
}
.intro {
  text-align: center;
  background-color: white;
  height: 10vh;
  width: 70vw;
  margin: 5px;
  padding: 10px;
}

.intro p {
  margin: auto;
  padding: 10px;
}

.computer-side {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  height: 15vh;
  width: 70vw;
  margin: 5px;
  padding: 10px;
}

.computer-side img {
  transform: scale(1) scaleX(-1);
  -webkit-filter: drop-shadow(1.5px 1.5px 0 green) 
                  drop-shadow(-1.5px -1.5px 0 whgreenite);

  filter: drop-shadow(1.5px 1.5px 0 green) 
          drop-shadow(-1.5px -1.5px 0 green);
  border: 0;
}

.player-side {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  height: 15vh;
  width: 70vw;
  border: 1px black solid;
  margin: 5px;
  padding: 10px;
}

.images {
  -webkit-filter: drop-shadow(1px 1px 0 black) 
                  drop-shadow(-1px -1px 0 white);

  filter: drop-shadow(1px 1px 0 black) 
          drop-shadow(-1px -1px 0 white);
  border: 0;
}

.active {
  transform: scale(1.2);
  -webkit-filter: drop-shadow(1.5px 1.5px 0 red) 
                  drop-shadow(-1.5px -1.5px 0 red);

  filter: drop-shadow(1.5px 1.5px 0 red) 
          drop-shadow(-1.5px -1.5px 0 red);
  border: 0;
  outline: none;

}

.score {
  font-size: calc(1rem + 0.7vw);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  height: 15vh;
  width: 70vw;
  border: 1px black solid;
  margin: 5px;
  padding: 10px;
}

#player-score {
  padding: 10px;
}

#computer-score {
  padding: 10px;
}

footer {
  flex: 0 0 auto;
  font-size: calc(0.6rem + 0.5vw);
  text-align: center;
  background-color: white;
  padding: 1rem;
  border: 1px solid #e4e4e4;
}
